html

*
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation/Header */

nav
{
    background-color: greenyellow;
}

label.Name
{
    color: white;
    font-size: 40px;
    margin-left: 10px;
    font-weight: normal;
}

nav ul.Links
{
    float:right;
}

ul.Links
{
    display: flex;
    margin-top: 10px;
}

li.List a.Link
{
    color: white;
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
}

a.Link#active
{
    background-color: yellow;
    padding: 10px 10px;
}

a.Link:hover
{
    background-color: darkgreen;
    padding: 10px 10px;
}

/* Navigation/Header */

/* Body */

div.Body
{
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 196px;
}

img.Image
{
    float: right;
    border-radius: 50%;
}

ul.Contacts
{
    color: green;
    font-size: 50px;
} 

/* Body */

/* Footer */

div#Footer
{
    background-color: greenyellow;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

/* Footer */